before_install:
    # init xvfb
    # http://docs.travis-ci.com/user/gui-and-headless-browsers/
    - export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start
branches:
    only:
    - alpha
    - beta
    - cron
    - docker.base
    - docker.latest
    - master
    - publish
    - task
env:
    global:
    # this value is auto-created by shTravisCryptoAesEncryptYml
    - secure: 1Q6QnlbJNV8PnanZJ6r7QhU+TcqiYrig2G9qZX4EcYl5k29voM6azNteYWPM3Tl7pzZixRDp7UATH9HSp1YqyKHdFKGJCSNujNO8yGOdTq6xdENlehaFVovtMSmuHeI6Cvu4PxDaGbIzZ4BVlS/TufFJSD55gksW5RtPdjDzLGbjoJLWFlTmWqcFKQgcaZHDhTAOMvS2m8hSNT+b8LEuIqRH+iih6L3ZlKp3THJ6R3JoHnbISsa3WAnK4zyzO2qtG52WdrCfnUzv/N/fGMxjg6gkYS1BvD8+7Hxf+Za17dKdGIaZYoUfJNvg6KGn61FuDXnHI/PrydHGlgq50V+sGheIjOumTQd+/9z+hlA8Vsq8V6GYsilsDEmrOCQ471BMX5XEar9JA3T10wAt3oxI+C16KjZm36ONKeTQJLAQ9fkEz+P+uE+Sj7zpSwcc16eExtrk0BAkH6eGYHbZOU/IpWqr/AZcMDQ54Kuo7EcSa/PxKoqwrG2oAm6FJf8IT+C0RuqXGDQ3NOOydJV5rRofBaBFnWvWt0GwLq+l9SUC2jVW524gui999r/dOMdg4J/dNtYmxQLlLzpfh/Kztm7IaD4MfRoIKHhbkpQbvuJInzGnFQzZ3VZ3v5MtaM6ZG17tql542fx1K39hYmHYQ3Yb7BzzDG3qgQL1AL8WBaVagk4= # CRYPTO_AES_KEY
language:
    - node_js
node_js:
    - 6
    # - node
script:
    - npm run build-ci
services:
    - docker
# http://docs.travis-ci.com/user/workers/container-based-infrastructure
sudo:
    false
